@import '../styles/vars';

body {
  --header_background: #0A111B;
  --background_page: #192233;
  --background_content: #192233;
  --header_alternate_background: #0A111B;
  --tabbar_active_icon: #ffffff;
}

.rang-gold {
  background: linear-gradient($gold-gradient);
}
.rang-silver {
  background: linear-gradient($silver-gradient);  
}
.rang-blue {
  background: linear-gradient($blue-gradient);
}
.rang-none {
  background: #757575;
}
