@import '../styles/vars';

.rang-gold {
  background: linear-gradient($gold-gradient);
}
.rang-silver {
  background: linear-gradient($silver-gradient);
}
.rang-blue {
  background: linear-gradient($blue-gradient);
}
