@import '../styles/vars';

body {
  overflow: hidden;
}

.card-container {
  display: flex;
  justify-content: center;
  background: $base-bg;

  &:before {
    display: block;
    position: absolute;
    content: "";
    background-image: url(../img/bg-polygon.png);
    background-repeat: no-repeat;
    width: 272px;
    height: 335px;
    left: -105px;
    right: 0;
    top: 2em;
    margin: auto;
  }
  .card-label {
    position: absolute;
    z-index: 6;
    bottom: 4em;
    padding: 10px;
    text-align: center;
    width: 257px;
    border-radius: 10px;
    p {
      color: #fff;
      margin: 0;
      margin-bottom: 5px;
      &:nth-child(1) {
        font-weight: bold;
      }
    }
  }
  .card-points {
    position: absolute;
    background: $red-label;
    border-radius: 15px;
    color: #fff;
    top: 4em;
    padding: 5px 15px;
    z-index: 7;
  }
}

.r-hex-rang, .r-hex-black {
  overflow: hidden;
  display: inline-block;
  margin: 1.3em auto;
  position: absolute;
  width: 344px;
  top: 44px;
  height: 297px;
  transform: rotate(-30deg) skewX(30deg);
  border-radius: 0.5em;
  z-index: 5;
}

.r-hex-rang *, .r-hex-black *, .r-hex-rang *:before, .r-hex-black *:before {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.r-hex-rang {
  width: 357px;
  margin: 0.9em auto;
  height: 310px;
}

.r-hex {
  overflow: hidden;
  display: inline-block;
  margin: 4.7em 0;
  width: 20em;
  height: 17.32em;
  transform: rotate(-30deg) skewX(30deg);
  border-radius: 0.5em;
  z-index: 5;

  * {
    display: block;
    overflow: hidden;
    width: inherit;
    height: inherit;
    border-radius: inherit;

    &:before {
      display: block;
      overflow: hidden;
      width: inherit;
      height: inherit;
      border-radius: inherit;
    }
  }
}

.r-hex-inner {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  opacity: 1;
  transition: opacity 0.75s;
  cursor: pointer;
}

.r-hex-inner-2 {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  background: black;
  content: "";

  img {
    margin-top: -1.5em;
    height: 20em;
    transform: skewX(-30deg) rotate(-90deg);

    &:before {
      margin-top: -1.5em;
      height: 20em;
      transform: skewX(-30deg) rotate(-90deg);
      line-height: 20em;
      text-align: center;
      content: "";
    }
  }
}

.r-hex-inner-3 {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  background: gold;
  content: "";

  img {
    margin-top: -1.5em;
    height: 20em;
    transform: skewX(-30deg) rotate(-90deg);

    &:before {
      margin-top: -1.5em;
      height: 20em;
      transform: skewX(-30deg) rotate(-90deg);
      line-height: 20em;
      text-align: center;
      content: "";
    }
  }
}

.cards-back-sides {
  position: absolute;
  z-index: 0;
  top: 18px;
  right: -40px;
  left: 0;
  margin: auto;
  transition: 1s;
  width: 350px;
  height: 350px;

  img {
    position: absolute;
    right: 0;

    &:nth-child(1) {
      right: 0px;
      top: -5px;
    }

    &:nth-child(2) {
      right: 5px;
      top: 0px;
    }

    &:nth-child(3) {
      right: 10px;
      top: 5px;
    }

    &:nth-child(4) {
      right: 15px;
      top: 10px;
    }
  }
}

.card-stars {
  &:after {
    content: '';
    position: absolute;
    right: 5px;
    top: -25px;
    width: 40px;
    height: 36px;
    background-image: url(../img/vector.png); 
  }
}
